.login_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.login_content {
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo_icon {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.header_title h1 {
  font-size: 22px;
}

.header_title p {
  font-size: 14px;
  color: #6c7289;
}

.haeder_language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.haeder_language button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
.haeder_language button img {
  width: 30px;
}

.lang-btn.active {
  border: 1px solid #3b82f6;
  background-color: #eff6ff;
}

.input_content {
  margin-bottom: 20px;
}
.input_content label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.input_content input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.err_msg {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fee;
  color: #c33;
  border-radius: 4px;
}
.login_btn {
  width: 100%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3b82f6;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login_btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
